<!-- Tables for service/ Procedure -->
<h5>-Service Request Authorization summary</h5>
<div> 
      <hr>
      <button>VIEW AUTH DETAILS</button>
</div><br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z9">
  
    <ng-container matColumnDef="membername">
      <th mat-header-cell *matHeaderCellDef>Member Name</th>
      <td mat-cell *matCellDef="let element"> {{element.membername}} </td>
    </ng-container>
  
    <ng-container matColumnDef="authorizationno">
      <th mat-header-cell *matHeaderCellDef>Authorization #</th>
      <td mat-cell *matCellDef="let element"> {{element.authorizationno}} </td>
    </ng-container>
  
    <ng-container matColumnDef="determinationstatus">
      <th mat-header-cell *matHeaderCellDef> Determination Status </th>
      <td mat-cell *matCellDef="let element"> {{element.determinationstatus}} </td>
    </ng-container>
  
    <ng-container matColumnDef="startdate">
      <th mat-header-cell *matHeaderCellDef> From Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startdate}} </td>
    </ng-container>

    <ng-container matColumnDef="enddate">
        <th mat-header-cell *matHeaderCellDef> To Date </th>
        <td mat-cell *matCellDef="let element"> {{element.enddate}} </td>
    </ng-container>

    <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef> Provider </th>
        <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



  <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="member_name">
      <th mat-header-cell *matHeaderCellDef>Member Name</th>
      <td mat-cell  *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="auth_num">
      <th mat-header-cell *matHeaderCellDef>Authorization #</th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container  *ngFor="let authNumElement of element.member_pcps">
          <div class="authNumElement">
           {{authNumElement.pcp_id}}
          </div>
        </ng-container>
    </td>
    </ng-container>
  
   <ng-container matColumnDef="determination_status">
      <th mat-header-cell *matHeaderCellDef> Determination Status </th>
      <td mat-cell *matCellDef="let element"> Pending </td>
    </ng-container>
  
    <ng-container matColumnDef="from_date">
        <th mat-header-cell *matHeaderCellDef>From Date</th> 
        <td mat-cell *matCellDef="let element"> 
          <ng-container  *ngFor="let fromDateElement of element.member_pcps">
            <div class="fromDateElement">
             {{fromDateElement.pcp_prvd_eff_dt}}
            </div>
          </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="to_date">
        <th mat-header-cell *matHeaderCellDef>To Date</th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container  *ngFor="let toDateElement of element.member_pcps">
            <div class="toDateElement">
             {{toDateElement.pcp_prvd_eff_end_dt}}
            </div>
          </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="servicing_facility">
        <th mat-header-cell *matHeaderCellDef>Servicing Facility</th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container  *ngFor="let servicingFacilityElement of element.member_pcps">
            <div class="servicingFacilityElement">
             {{servicingFacilityElement.pcp_prvd_nm}}
            </div>
          </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="diagnosis_code">
        <th mat-header-cell *matHeaderCellDef>Diagnosis Code</th> -->
        <!-- <td mat-cell *matCellDef="let element"> 
          <ng-container  *ngFor="let diagnosisCodeElement of element.member_pcps">
            <div class="diagnosisCodeElement">
             {{diagnosisCodeElement.pcp_prvd_id}}
            </div>
          </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th> -->
        <!-- <td mat-cell *matCellDef="let element"> 
          <ng-container  *ngFor="let stateElement of element.member_pcps">
            <div class="stateElement">
             {{stateElement.pcp_prvd_serv_st}}
            </div>
          </ng-container>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> --> --> -->